on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  package:
    name: Build and Upload Units.lua, Luarocks Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: leafo/gh-actions-lua@v9
      - uses: leafo/gh-actions-luarocks@v4
      - name: install dependencies
        shell: bash
        run: |
          luarocks install lua-cjson
      - name: upload Luarocks package
        shell: bash
        run: |
          luarocks upload units-dev-1.rockspec --api-key=LUAROCKS_API_KEY
